<!-- templates/base.html -->
<!DOCTYPE html> 
<html lang="ru">          
  <head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">     
  </head>
  <body>       
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}
     <div class="container py-5">     
        <h1>Последние обновления на сайте</h1>
        {% for post in posts %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>    
        <a href="group_list">все записи группы</a>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
        <!-- под последним постом нет линии -->
      </div>
      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %} 
    </footer>
    <h1>{{ text }}</h1>
  </body>
</html> 