<!-- templates/posts/group_list.html --> 
<!DOCTYPE html> 
<html lang="ru">
{% include 'includes/header.html' %}
  {% load static %}
<title>
  {% block title %}
    Здесь будет информация о группах проекта Yatube
  {% endblock %}
</title>     
{% block content %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <main>
    <div class="container py-5">
    <h1>Записи сообщества</h1>  
    {% for post in posts %}
    <b>{{ post.group }}</b>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>
      {% if not forloop.last %}<hr>{% endif %} 
    {% endfor %}
    </div> 
  </main>
{% endblock %}
{% include "includes/footer.html" %} 
</body>
</html> 